<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Role form</title>
</head>
<body>
<form th:fragment="role-form" action="#" th:action="@{__${requestURI}__}" th:object="${roleSaveRequest}" method="post">
  <label th:text="#{role.label.role-name}">Role name</label>
  <br/>
  <input type="text" th:field="*{roleName}"/>
  <label class="error" th:errors="*{roleName}">Role name error placeholder</label>
  <br/><br/>

  <input type="submit" value="Save"/>
  <br/><br/>
</form>

</body>
</html>